# Read CSV

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/house_prices.csv')

In [ ]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,N,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,N,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,N,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,N,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,N,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,N,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,N,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,N,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,N,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,N,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# spliting data and check for missing

In [ ]:
features = data.iloc[:,3:]

In [ ]:
features

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,N,0,Average,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,N,0,Average,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,N,0,Average,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,N,0,Very Good,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,N,0,Average,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,N,0,Average,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,N,0,Average,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,N,0,Average,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,N,0,Average,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,N,0,Average,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
labels = data.iloc[:,2:3]

In [ ]:
labels

          price
0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
...         ...
21608  360000.0
21609  400000.0
21610  402101.0
21611  400000.0
21612  325000.0

[21613 rows x 1 columns]

In [ ]:
missing = data.isnull().sum()

In [ ]:
missing

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
features = pd.get_dummies(features)
features

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,grade,sqft_above,sqft_basement,yr_built,...,long,sqft_living15,sqft_lot15,waterfront_N,waterfront_Y,condition_Average,condition_Fair,condition_Good,condition_Poor,condition_Very Good
0,3,1.00,1180,5650,1.0,0,7,1180,0,1955,...,-122.257,1340,5650,1,0,1,0,0,0,0
1,3,2.25,2570,7242,2.0,0,7,2170,400,1951,...,-122.319,1690,7639,1,0,1,0,0,0,0
2,2,1.00,770,10000,1.0,0,6,770,0,1933,...,-122.233,2720,8062,1,0,1,0,0,0,0
3,4,3.00,1960,5000,1.0,0,7,1050,910,1965,...,-122.393,1360,5000,1,0,0,0,0,0,1
4,3,2.00,1680,8080,1.0,0,8,1680,0,1987,...,-122.045,1800,7503,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,8,1530,0,2009,...,-122.346,1530,1509,1,0,1,0,0,0,0
21609,4,2.50,2310,5813,2.0,0,8,2310,0,2014,...,-122.362,1830,7200,1,0,1,0,0,0,0
21610,2,0.75,1020,1350,2.0,0,7,1020,0,2009,...,-122.299,1020,2007,1,0,1,0,0,0,0
21611,3,2.50,1600,2388,2.0,0,8,1600,0,2004,...,-122.069,1410,1287,1,0,1,0,0,0,0
21612,2,0.75,1020,1076,2.0,0,7,1020,0,2008,...,-122.299,1020,1357,1,0,1,0,0,0,0

In [ ]:
labels = pd.get_dummies(labels)
labels

          price
0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
...         ...
21608  360000.0
21609  400000.0
21610  402101.0
21611  400000.0
21612  325000.0

[21613 rows x 1 columns]

# preprocessing

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
features = scale.fit_transform(features)
features

array([[0.09090909, 0.125     , 0.06716981, ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.28125   , 0.17207547, ..., 0.        , 0.        ,
        0.        ],
       [0.06060606, 0.125     , 0.03622642, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.06060606, 0.09375   , 0.05509434, ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.3125    , 0.09886792, ..., 0.        , 0.        ,
        0.        ],
       [0.06060606, 0.09375   , 0.05509434, ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
scale2 = MinMaxScaler()
labels = scale2.fit_transform(labels)
labels

array([[0.01926557],
       [0.06072131],
       [0.01377049],
       ...,
       [0.04289849],
       [0.04262295],
       [0.03278689]])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size=0.2)

In [ ]:
x_train

array([[0.09090909, 0.1875    , 0.11396226, ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.21875   , 0.10490566, ..., 0.        , 0.        ,
        1.        ],
       [0.12121212, 0.375     , 0.24      , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.12121212, 0.5625    , 0.27169811, ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.125     , 0.0354717 , ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.28125   , 0.12981132, ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
x_test

array([[0.09090909, 0.1875    , 0.12679245, ..., 0.        , 0.        ,
        0.        ],
       [0.15151515, 0.3125    , 0.14415094, ..., 1.        , 0.        ,
        0.        ],
       [0.03030303, 0.125     , 0.03018868, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.06060606, 0.21875   , 0.09509434, ..., 0.        , 0.        ,
        0.        ],
       [0.12121212, 0.4375    , 0.23320755, ..., 0.        , 0.        ,
        0.        ],
       [0.09090909, 0.25      , 0.10037736, ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
y_train

array([[0.06622951],
       [0.06767213],
       [0.14990164],
       ...,
       [0.11737705],
       [0.01213115],
       [0.07147541]])

In [ ]:
y_test

array([[0.04347541],
       [0.03224918],
       [0.02688525],
       ...,
       [0.03605246],
       [0.10360656],
       [0.04852459]])

In [ ]:
print(len(features))

21613

In [ ]:
print(len(x_train))

17290

In [ ]:
print(len(x_test))

4323

# LinearRegression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.score(x_test,y_test)

0.7059531446790557

# Saving

In [ ]:
import pickle
weights = pickle.dump(model,open('house_prices.sav','wb'))
weights